<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <div class="header">
        <i class="fas fa-leaf"></i> Proyecto Final Spring Boot
    </div>
    <div class="sub-header">Programacion II - Universidad de Caldas</div>
    <div class="sub-header">Sistema Biblioteca</div>
    <div class="sub-header">Camilo Niño Galvez</div>

    <div class="container">
        <div class="menu">
            <div class="menu-item">
                <a href="/opcionesAdmin">
                    <i class="fas fa-users-cog"></i> Vista Administradores
                </a>
            </div>
            <div class="menu-item">
                <a href="/opcionUsuario">
                    <i class="fas fa-users"></i> Vista Usuarios
                </a>
            </div>
            <div class="menu-item">
                <a href="/añadirUsuario">
                    <i class="fas fa-user-plus"></i> Registrarse
                </a>
            </div>
        </div>
    </div>

    <div class="footer">
        © 2024 Camilo Niño Galvez
    </div>
</body>

</html>
