<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Menú de Usuarios</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="static/styles.css"> 
</head>

<body>
    <div class="container">
        <h2>Menú de Usuarios</h2>
        <div class="menu">
            <div class="menu-item">
                <a href="/libros">
                    <i class="fas fa-book"></i> Libros
                </a>
            </div>
            <div class="menu-item">
                <a href="/prestamoUsuario">
                    <i class="fas fa-money-bill"></i> Gestión de Préstamos
                </a>
            </div>
        </div>
    </div>
    <div class="button-div">
        <a class="back-button" href="/">Inicio</a>
    </div>

    <div class="footer">
        © 2024 Camilo Niño Galvez
    </div>
</body>

</html>
